<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>movie</title>
  <link href="/index/css/bootstrap.min.css" rel="stylesheet">
  <link href="/admin/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/index/tools/raty/demo/css/application.css">
  <script src="/index/js/jquery-1.12.3.min.js"></script>
  <script type="text/javascript" src="/index/tools/raty/lib/jquery.raty.min.js"></script>





  <style type="text/css">
    .poster {
      width: 35%;
    }

    .floata {
      float: left;
    }

    .floatb {
      float: left;
      clear: both;
    }

    .tagg {
      margin-top: 40px;
      margin-bottom: 0px;
    }
  </style>

</head>

<body class="container">
  {include file="/index/header" /}

  <div class="row">

    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <img class="img-rounded" width=248 height=340 src="{$data.cover}" alt="{$data.name}">
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <h3>{$data.name}</h3>
      <h5>Captain America: Civil War</h5>
      <br>
      <p>
        上映日期：{$data.time} {eq name="data.isshow" value="1"} [上映中]{else/} [未上映]{/eq}
        <br> 片长/语言：{$data.duration}分钟/英语
        <br> 类 型： {volist name="data.type" id="vo"}{$vo}&nbsp;{/volist}
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="/index/buy?id={$data.id}" role="button">&emsp;购&emsp;票&emsp;» </a>
      </p>
    </div>
  </div>
  <!-- /container -->

  <div>
    <h2 class="tagg">详细内容</h2>
    <div class="row">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#home" aria-controls="home" role="tab" data-toggle="tab">介绍</a>
        </li>
        <li role="presentation">
          <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">演职人员</a>
        </li>
        <li role="presentation">
          <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">奖项</a>
        </li>
        <li role="presentation">
          <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">图集</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <p>
            {$data.description} </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          {volist name="data.staff" id="sta"}
          <div>
            <h3>{$key}</h3>
            {volist name="sta" id="ss"}
            <div style="display:inline-block">
              <img src="{$ss.staffCover}" />
              <P>{$ss.staffName}</P>
            </div>
            {/volist}
          </div>
          {/volist}
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">

          {volist name="data.award" id="a"}
          <div class="row">
            <div class="col-sm-1">
              <img src="{$a.awardCover}" /> </div>

            <div style="height:50px;line-height: 50px" class="col-sm-4">{$a.awardName}</div>

          </div>
          <div class="row">
            <div class="col-sm-12">
              {$a.award}
            </div>
          </div>
          {/volist}

        </div>
        <div role="tabpanel" class="tab-pane" id="settings">
          <div class="lightBoxGallery">
            {volist name="data.pictures" id="pic"}
            <a href="{$pic}" title="图片" data-gallery="">
              <img src="{$pic}">
            </a>
            {/volist}
          </div>
          <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
          </div>


        </div>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">


      </div>
    </div>
  </div>
  <div>
    <h2 class="tagg">评论</h2>
    {volist name="cdata" id="c"}
    <div class="row" style="margin:10px 0;font-size:20px;border: 1px solid #dedede">
      <div class="col-sm-12">
        <div class="col-sm-12">
          用户：{eq name="c.name" value=""}
                  {$c.phone|substr_replace=###,"****",3,4}
                {/eq}
        </div>
        <div id="star{$c.id}" class="col-sm-4">
          <script>
            $("#star{$c.id}").raty({
              width: "180px",
              scoreName: "star",
              readOnly: true, 
              score: {$c.score},

              half: true,

              size: 24,

              starHalf: '/index/tools/raty/demo/img/star-half-big.png',

              starOff: '/index/tools/raty/demo/img/star-off-big.png',

              starOn: '/index/tools/raty/demo/img/star-on-big.png'
            });
          </script>
        </div>
        <div class="col-sm-8">
          {$c.time|date="m-d",###}
        </div>
        <div class="col-sm-12">
          {$c.comment}
        </div>
      </div>
    </div>
    {/volist}
    <div class="col-sm-12">
        {$cdata->render()}
    </div>
  </div>
  <hr class="featurette-divider">
  <!-- FOOTER -->
  <footer>
    <p class="pull-right">
      <a href="">Back to top</a>
    </p>
    <p>© 2018 </p>
  </footer>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/index/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(".foo img").addClass("carousel-inner img-responsive img-rounded");
  </script>
  <script src="/admin/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>

</body>

</html>